#blog-index
  a.article-link
    display block
    margin-bottom 1.5rem
    border 1px solid bc
    padding 1rem
    background #fff

    color txt

    &:hover
      text-decoration none
      .article-title
        color link

    .article-title
      font-weight 400
      font-size 1.25rem
      margin-bottom 0.5rem
      line-height 1.25

    .article-excerpt
      margin-bottom 1rem

    .article-date
      color light

@media screen and (min-width: 768px)
  #blog-index
    a.article-link
      padding 1.5rem

      .article-title
        font-size 1.35rem
        margin-bottom 0.75rem

      .article-exerpt
        margin-bottom 1.5rem
