.form-default
  .form-group
    margin 0 0 1.5rem

  .form-footer
    margin-top 2rem
    display flex
    justify-content space-between
    border-top 1px solid bc
    padding 1.5rem 0

  label
    display block
    padding 0.25rem 0
    line-height 1.5rem
    margin 0 0 0.25rem
    font-weight 400

  .input-group
    display flex
    input
      width 100%
