.form-default
  input, .input, textarea
    display block
    -webkit-appearance none
    background #fff
    border-radius 0
    padding 0 0.5*x
    margin 0

    df()
    font-weight 300
    line-height 1

    border 1px solid bc

    width 100%

  input, .input
    height 2rem

    &[type="submit"]
      border none
      background mcolor
      color #fff
      line-height 2rem
      height 2rem

      cursor pointer
