.form-default
  input, .input, textarea
    display block
    -webkit-appearance none
    background #fff
    border-radius 0
    padding 0 0.5*x
    margin 0

    font-size x
    line-height 2*x - 2px

    border 1px solid bc

    width 100%

  input, .input
    height 2*x

    &[type="submit"]
      border none
      background lighten(mcolor, 25%)
      color #fff
      line-height 2*x - 4px
      height 2*x - 4px
      box-shadow mcolor 0 4px 0
