.master-detail-panels
  display flex
  flex-flow column

  height 100vh
  width 100vw

@media screen and (min-width: 960px)
  .master-detail-panels
    flex-flow row
    .master-panel
      flex 1
    .detail-panel
      flex 2
      overflow scroll
