.section-default
  .section-container
    text-align center
    padding 3*x 0
    
    .section-content
      margin 0 auto
      max-width 40*x
      padding 1.5*x 1.5*x 0

.header-padding
  height 3*x
