.toc-wrapper
  border 1px solid bc
  background mbg
  position relative

  a
    text-decoration none

  .toc-header
    padding 0 0.75*x
    border-bottom 1px solid bc
    display flex
    align-items center

    .toc-title
      flex 1
      color light
      text-transform uppercase
      line-height 2.5em

    .toc-toggle.material-icons
      color light
      font-size x
      cursor pointer
      &:hover
        color link

  ul li 
    a
      &:hover
        color link
        text-decoration none

    a.active
      position relative

      &:after
        content ''
        position absolute
        top 0
        left 0
        bottom 0
        right 0
        border-left 4px solid link

  > ul
    list-style none
    padding 0

    > li
      border-bottom 1px solid bc
      
      &:last-of-type
        border-bottom none

      > a
        display block
        padding 0.5*x 0.75*x

        font-weight 500
        color txt

      ul
        padding 0 0 0.5*x
        li
          a
            display block
            padding 0.25*x 0.5*x
            padding-left 1.5*x

            line-height 1.25*x
            color txt
            &:before
              content '–'
              display inline-block
              width x
              color light

        ul
          padding 0
          li
            a
              padding-left 3*x

.toc-hidden-bar
  position fixed
  top 3*x + 0.5*x
  left 0.5*x
  bottom 0.5*x
  width 2*x
  max-height 100vh
  border 1px solid bc

  background mbg

  text-align center
  cursor pointer

  i.material-icons
    font-size x
    line-height 2*x

  &:hover
    i.material-icons
      color link

.toc-wrapper
  z-index 100
.toc-hidden-bar
  z-index 101

@media screen and (max-width: 959px)
  .toc-hidden-bar
    width 3*x
    height 3*x
    border-radius 1.5*x

    top auto
    left auto
    bottom 0.5*x
    right 0.5*x

    display flex
    align-items center
    justify-content center
    
    background alpha(mbg,85%)

    i.material-icons
      font-size 1.5*x

  .toc-wrapper
    position fixed
    top 3*x
    left 0
    right 0
    bottom 0

    border none
    overflow hidden

@media screen and (min-width: 960px)
  .toc-wrapper
    max-height 100vh
    overflow hidden
    position fixed
    top 3.5*x
    left 0.5*x
    bottom 0.5*x

    width 15*x

    font-size 0.75*x

@media screen and (min-width: 1200px)
  .toc-wrapper
    font-size 0.85*x
    line-height 1.5

    width 20*x

@media screen and (min-width: 1800px)
  .toc-wrapper
    width 25*x
