.minimal-toc
  border 1px solid bc
  background c-app-bg
  position relative
  z-index 100

  a
    text-decoration none

  &:before
    display block
    border-bottom 1px solid bc
    padding 0 0.75em

    content 'Table of Contents'
    color light
    text-transform uppercase
    line-height 2.5em

  ul
    padding 0 !important

    li 
      margin-bottom 0 !important
      list-style none !important
      a
        position relative
        &:after
          content ''
          position absolute
          top 0
          left 0
          bottom 0
          right 0
          border-left 2px solid transparent

        &:hover
          color link
          text-decoration none

      a.active
        &:after
          border-left-color txt
  
  > ul
    > li
      border-bottom 1px solid bc
      
      &:last-of-type
        border-bottom none

      > a
        display block
        padding 0.5*x 0.75*x

        font-weight 500
        color txt

      ul
        margin-bottom 0
        li
          a
            display block
            padding 0.25*x 0.5*x
            padding-left 1.5*x

            line-height 1.25*x
            color txt
            &:before
              content '–'
              display inline-block
              width x
              color subtle
          &:last-of-type a
            padding-bottom 0.5*x

        ul
          padding 0
          li
            a
              padding-left 3*x

@media screen and (max-width: 959px)
  .minimal-toc
    position fixed
    top 3*x
    left 0
    right 0
    bottom 0

    border none
    overflow hidden

@media screen and (min-width: 960px)
  .minimal-toc
    max-height 100vh
    overflow hidden
    position fixed
    top 3.5*x
    right 0.5*x
    bottom 0.5*x
    width 15*x
    font-size 0.75*x

@media screen and (min-width: 1200px)
  .minimal-toc
    font-size 0.85*x
    line-height 1.5

    width 20*x

@media screen and (min-width: 1800px)
  .minimal-toc
    width 25*x
