.minimal-toc
  z-index 100
  font-family sans
  overflow hidden
  position fixed

  font-size 0.875rem

  a
    text-decoration none
    border-bottom none !important

  &:before
    display block
    border-bottom 1px dotted bc
    padding 0 0.75em

    content 'Table of Contents'
    color light
    text-transform uppercase
    line-height 2.5em

  ul
    padding 0 !important

    li 
      margin-bottom 0 !important
      list-style none !important
      a
        position relative

        line-height 1.5
        padding 0.25em 1em

        &:hover
          color link
          text-decoration none

      a.active
        background alpha(mcolor, 10%)
  
  > ul
    > li
      &:last-of-type
        border-bottom none

      > a
        display block
        color txt
        font-weight bold
        padding 0.5em 1em

      ul
        margin-bottom 0
        li
          a
            display block
            padding-left 2em
            color txt

        ul
          padding 0
          li
            a
              padding-left 3em
              color dim

@media screen and (min-width: 360px)
  .minimal-toc
    font-size 1rem

@media screen and (min-width: 720px)
  .minimal-toc
    padding 3rem

@media screen and (max-width: 959px)
  .minimal-toc
    background c-app-bg
    top 3rem
    left 0
    right 0
    bottom 0

@media screen and (min-width: 960px)
  .minimal-toc
    top 3rem
    left 0
    bottom 0
    max-height 100vh
    width 20rem
    padding 1.5rem 0 0

@media screen and (min-width: 1200px)
  .minimal-toc
    top 3rem
    padding 3rem
    width 26rem
