@media screen and (min-width: 960px)
  .toc-padding.toc-visible
    margin-right 15rem + 1rem

@media screen and (min-width: 1200px)
  .toc-padding.toc-visible
    margin-right 20rem + 1rem

@media screen and (min-width: 1800px)
  .toc-padding.toc-visible
    margin-right 25rem + 1rem
