cw = 90vw
s = cw/100px
sm = cw/100*0.66px

.gfx-wrapper
  width cw
  height cw

  margin 0 auto
  position relative

  overflow hidden

  &.height-forty
    height 0.4*cw
  &.height-seventy
    height 0.7*cw

@media screen and (min-width: 800px)
  sc = 0.80
  .gfx-wrapper
    transform scale(sc)
    overflow visible
    // background red
    &.square
      margin cw * sc * -0.0625 auto
    &.height-forty
      height 0.4*cw * sc
    &.height-seventy
      height 0.7*cw * sc

@media screen and (min-width: 960px)
  sc = 0.65
  .gfx-wrapper
    transform scale(sc)
    // background orange
    &.square
      margin cw * sc * -0.25 auto
    &.height-forty
      height 0.4*cw * sc
    &.height-seventy
      height 0.7*cw * sc

@media screen and (min-width: 1200px)
  sc = 0.50
  .gfx-wrapper
    transform scale(sc)
    // background yellow
    &.square
      margin cw * sc * -0.5 auto
    &.height-forty
      height 0.4*cw * sc
    &.height-seventy
      height 0.7*cw * sc
