.article-wrapper
  max-width 48*x
  margin 0 auto
  padding 0 x 3*x

  h1, h2, h3, h4, h5, h6
    line-height 1.25
    margin-top 2*x

  h1
    font-size 2.5*x
    font-weight bold
    margin-bottom 2*x
    margin-top 2*x

  h2
    font-size 2*x
    margin-bottom 1.25*x
  h3
    font-size 1.75*x
    margin-bottom x
  h4
    font-size 1.5*x
    margin-bottom 0.75*x
  h5
    font-size 1.5*x
    margin-bottom 0.5*x
  h6
    font-size 1.25*x
    margin-bottom 0.25*x

  p, ol, ul, blockquote, img, pre
    margin-bottom x

  ul > ul, ul > ol, ol > ul, ol > ol
    margin-bottom 0

  ol, ul
    padding-left 0.5*x

  ol li
    list-style decimal
    list-style-position inside

  ul
    list-style square
    list-style-position inside

  strong
    font-weight bold

  em
    font-style italic

  pre
    display block
    background bc
    font-family monospace
    padding 0.75*x x
    overflow-x scroll

  p, li
    overflow-x hidden
    text-overflow ellipsis

  img
    max-width 100%
