x = 13px

@media print
  // fix a bug with Chrome where styles were messed up with transitions
  *
    -webkit-transition none !important
    transition none !important

  // set up the margins for the page (not supported by Safari) 
  @page
    size auto
    margin 1in 1.5in

  body
    display block
    background #fff
    font-size x
    font-family serif

    margin 0 auto
    max-width 40em

  .app-header
  .app-footer
    display none !important

  // hide the toc
  .minimal-toc
    display none !important

  .article-body
    padding 0

    text-justify distribute
    text-align justify
    line-height 1.25

    h1, h2, h3, h4, h5, h6
      font-weight bold
      letter-spacing normal
      i.fa
        display none
    h1
      font-size 2em
      line-height 1.25
      margin-bottom 1em
      text-align center

    h1 + .subtitle
      margin-top -1.5em
      text-align center
      color dim
      font-size 1em
      margin-bottom 2em

    h2
      font-size 1.75em
      padding 0.75rem 0
      margin-bottom 0 0 0.75rem
    h3
      font-size 1.5em
      padding 0.75rem 0
    h4
      font-size 1.25em
      margin-bottom 0.75rem
    h5
      font-size 1.125em
      margin-bottom 0.5rem
    h6
      font-size 1em
      margin-bottom 0.25rem

    li
      margin 0

    ul ul, ul ol, ol ul, ol ol
      padding-left 2rem
      margin-top 0

    p, ol, ul, blockquote, img, pre
      margin-bottom 1em

    pre
      font-size 0.9*x

    // fix code blocks and images breaking over pages
    img, pre, table
      page-break-before auto /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
      page-break-after auto /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
      page-break-inside avoid /* or 'auto' */
